<style type="text/css">
	#notice {
		margin: 20px auto;
	}
</style>

<% if notice %>
<p id="notice"><%= flash[:notice] %></p> 
<% end %>

<div class="mboxDefault">
        <div class="hero-unit">
          <h1>Welcome to Ear City!</h1>
          <p>The home of headphone greatness. Make sure to check out our product reviews and find the right product for your lifestyle and budget.</p>
        </div>
      </div>
      <script type="text/javascript">
        mboxCreate('tntapp_hero')  
      </script>
   


	<div class="row" style="padding: 10px">
		<% @products.each do |product| %>
			<div class="span4">
				<%= image_tag(product.image_url) %>
				<h3><%= product.title %></h3>
				<%= sanitize(product.description) %>
				<div class="price_line">
					<span class="price"><%= number_to_currency(product.price) %></span>
					<%= button_to 'Add to Cart', line_items_path(:product_id => product), :remote => true %>
				</div>
			</div>
		<% end %>
	</div>


